# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/frontend/.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (local only)
.env
.env.local
.env.*.local
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.history

/backend/
/backend/node_modules
/backend/.env
/backend/.env.local
/backend/.env.*.local
/backend/.next
/backend/dist
/backend/build
/backend/.vercel
/backend/.vercel_build_output
/backend/tsconfig.tsbuildinfo
/backend/.history
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/pnpm-debug.log*
/backend/.DS_Store


/frontend/node_modules
Echomind Firebase Admin SDK.json
__pychache__/
frontend/__pychache__/
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local
/frontend/.vercel
/frontend/.vercel_build_output

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
__pychache__
__pycache__/modal_app.cpython-312.pyc
.gitignore
__pycache__/modal_app.cpython-314.pyc

# Python cache
__pycache__/
**/__pycache__/
*.pyc

